body {
    background-color: #f1f1f1;
}

main {
    padding: 20px;
    margin: 0 auto;
    max-width: 800px;
}

textarea {
    width: 100%;
    resize: none;
    font-size: 20px;
    border-radius: 3px;
}